<div id="page-content">

    <section class="breadcrumnb">
        <div class="container">
            <ol itemscope="" itemtype="http://schema.org/BreadcrumbList" class="clearfix" role="navigation"
                aria-label="breadcrumbs">
                <li>
                    <a routerLink="home">Home</a>
                </li>
                <li>
                    <a href="products/{{productSize.cateId}}">{{productSize.cateName}}</a>
                </li>
                <li>
                    <b>{{productSize.name}}</b>
                </li>
            </ol>
        </div>
    </section>

    <section id="listing" class="listing-page-content page-content">
        <div class="container">
            <div class="product-cols row">
                <div class="col-md-6">
                    <div id="main-image" class="main-image text-center">
                        <img src="http://localhost:8081/images/{{productSize.image_1}}" style="width: 570px; height: 554px;" />
                    </div>
                    <div class="col-md-3 ">
                        <img src="http://localhost:8081/images/{{productSize.image_2}}" style="width: 108px; height: 108px;" />
                    </div>
                    <div class="col-md-3">
                        <img src="http://localhost:8081/images/{{productSize.image_3}}" style="width: 108px; height: 108px;"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-details">
                        <h1 itemprop="name" class="page_headers" aria-label="productname" role="main">{{productSize.name}}</h1>
                        <div class="product-reviews">
                            <span class="reviews" itemprop="aggregateRating" itemscope
                                itemtype="http://schema.org/AggregateRating">
                                <span class="reviews-stars rating-0"></span>
                                <span class="reviews-count">
                                    <a id="review_count" href="#tab-4"><span itemprop="reviewCount">0</span>
                                        Review(s)</a>
                                </span>
                                <span class="hidden review-meta">
                                    <span itemprop="ratingValue">0</span>
                                    <span itemprop="worstRating">0</span>
                                    <span itemprop="bestRating">5</span>
                                </span>
                            </span>
                        </div>


                        <div class="pricingBlock">
                            <div class="yourprice price">
                                Your Price:
                                <span id="price">${{productSize.discount}}</span>
                                <meta itemprop="price" content="14.99" />
                            </div>
                            <div class="retailprice" aria-label="retail price">Retail Price:<span>$${{productSize.price}}</span>
                            </div>
                        </div>
                        <div class="product-id"><strong>Parts:</strong> {{productSize.part}}</div>
                        <div class="product-id"><strong>Guarantee:</strong> {{productSize.guarantee}}</div>
                        <div class="product-id"><strong>Provider:</strong> {{productSize.provider}}</div>
                        <div class="product-id"><strong>Title:</strong> {{productSize.title}}</div>
                        <div id="divOptionsBlock" class="options sub-section">
                            <div class="header">
                                <h4 class="page_heading ">Choose Options</h4>
                            </div>
                            <div class="options-inner">

                                <div class="opt-regular">
                                    <div class="opt-label">
                                        <label class="label">Size</label>
                                    </div>
                                    <div class="opt-field">
                                        <label class="radio-format" *ngFor="let p of productSizes">
                                            <label class="radio-option">
                                                <input type="radio" id="{{p.sizeName}}" name="size"
                                                    class="customoption" value="{{p.sizeName}}"
                                                    (click)="findProductSizeBySizeName(p.sizeName)">
                                                <span>{{p.sizeName}} </span>
                                            </label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="addToCartBlock sub-section">
                            <div class="qtybox-addcart form-group">
                                <label>Quantity</label>
                                <label class="qty-input">
                                    <input type="number" name="qty-0" value="1" class="form-control" min="1" />
                                </label>
                                <button type="button" id="Add" class="btn btn-default btn-inverse btn-addcart"><i
                                        class="icon-basket" role="presentation"></i> Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rTabs" class="rTabs">
                <div class="card-header">
                    <h3>Description</h3>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{productSize.description}}</p>
                    </blockquote>
                </div>
            </div><br><br><br>
            <div class="relatedBlock sub-section">
                <div class="header">
                    <h2 class="page_heading">Related Items</h2>
                </div>
                <div class="product-items product-items-4">
                    <script class="slick-cloned"
                        type="text/javascript">if (typeof _3d_items_collection === "undefined") { window._3d_items_collection = {}; }</script>
                    <div class="product-item" data-catalogid="1" data-ajaxcart="1"
                        data-addcart-callback="addcart_callback" data-categoryid="0">
                        <div class="img">
                            <a href="Mezzanine-Houseplant_p_1.html">
                                <img src="assets/assets/images/thumbnails/prod_1_thumbnail.png"
                                    alt="Mezzanine Houseplant" class="img-responsive" />
                            </a>
                            <button class="quickview" data-toggle="modal">Quick View</button>
                        </div>
                        <div class="product-content">
                            <div class="name">
                                <a href="Mezzanine-Houseplant_p_1.html">Mezzanine Houseplant</a>
                            </div>
                            <div class="reviews">
                                <span class="reviews-stars rating-5" role="presentation"></span>
                            </div>
                            <div class="price">
                                <span class="regular-price">$13.99</span>
                            </div>
                            <div class="action">
                                <a href="Mezzanine-Houseplant_p_1.html?quick=1&amp;item_id=1&amp;cat_id=0"
                                    class="add-to-cart btn btn-default">
                                    <span class="buyitlink-text"> Select Options</span>
                                    <span class="ajaxcart-loader icon-spin2 animate-spin"></span>
                                    <span class="ajaxcart-added icon-ok"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <div id="help-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="modal-body">
                    <iframe id="helpIframe" src="#"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>