<div id="page-content">

    <section class="breadcrumnb">
        <div class="container">
            <ol itemscope="" itemtype="http://schema.org/BreadcrumbList" class="clearfix">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <meta itemprop="position" content="1">
                    <a href="index.html" itemprop="item"><span itemprop="name">Home</span></a>
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <meta itemprop="position" content="2">
                    <a href="index.html?error=[id]" itemprop="name"><span itemprop="name">View Cart</span></a>
                </li>
            </ol>
        </div>
    </section>

    <section class="page_header">
        <div class="container">
            <h1 class="page_heading">View Cart</h1>
        </div>
    </section>
    <section id="message" class="page-content">
        <div class="container">
            <div class="content-area">
                <form method="post" action="https://branch-preview-com.3dcartstores.com/home.asp">
                    <p class="notice"> <i class="icon-attention"></i>You don't have any products in your shopping cart.</p>

                    <div class="button">
                        <input type="button" value="Click here to continue" class="btn btn-default" onclick="location.href='index.html';" />
                    </div>

                </form>
            </div>
        </div>
    </section>
</div>