.action-order {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-view {
    margin-right: 10px;
}
.action {
    width: 10%;
}
td, th {
    text-align: center;
}
.pagination {
    display: flex;
    justify-content: end;
    align-items: center;
}
.w-20 {
    width: 20%;
}