<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">List Contact</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Add Contact
            </div>
            <div class="panel-body">
                <form (ngSubmit)="f.valid && onSubmit()" enctype="multipart/form-data" #f="ngForm">
                    <div class="row" style="margin-bottom:40px">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label>Name</label>
                                <input required type="text" [(ngModel)]="contact.name" name="name" #name="ngModel"
                                    class="form-control">
                                <div *ngIf="f.submitted && name.invalid">
                                    <div *ngIf="name.errors?.required" style="color: red;">Please enter your name</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input required email type="text" [(ngModel)]="contact.email" name="email" #email="ngModel"
                                    class="form-control">
                                    <div *ngIf="f.submitted && email.invalid">
                                        <div *ngIf="email.errors?.required" style="color: red;">Please enter your email</div>
                                        <div *ngIf="email.errors?.email" style="color: red;">Email must be a valid email address</div>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input required type="number" [(ngModel)]="contact.phone" name="phone" #phone="ngModel"
                                pattern="^(0?)(3[2-9]|5[6|8|9]|7[0|6-9]|8[0-6|8|9]|9[0-4|6-9])[0-9]{7}$"
                                    class="form-control">
                                    <div *ngIf="f.submitted && phone.invalid">
                                        <div *ngIf="phone.errors?.required" style="color: red;">Please enter your phone</div>
                                        <div *ngIf="phone.errors?.pattern" style="color: red;">Phone must be a valid Phone address</div>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label>Subject</label>
                                <textarea required type="text" [(ngModel)]="contact.title" name="title" #title="ngModel"
                                class="form-control" rows="3"></textarea>
                                    <div *ngIf="f.submitted && title.invalid">
                                        <div *ngIf="title.errors?.required" style="color: red;">Please enter your phone</div>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label>Status</label><br>
                                <div class="status">
                                    <div class="true">
                                        <label for="status">true: </label>
                                        <input type="radio" [(ngModel)]="contact.isDeleted" id="status" name="isDeleted"
                                            [value]="true">
                                    </div>
                                    <div class="false">
                                        <label for="status1">false: </label>
                                <input type="radio" [(ngModel)]="contact.isDeleted" checked id="status1"
                                    name="isDeleted" [value]="false">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-8 col-lg-8">
        <div class="panel panel-primary">
            <div class="panel-heading">List Contacts</div>
            <div class="panel-body">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search...">
                </div>
                <hr>
                <div class="bootstrap-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="bg-primary">
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Subject</th>
                                <th>Status</th>
                                <th style="width:30%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of contacts | filter:searchText | paginate: {itemsPerPage: 4,currentPage: c}">
                                <td>{{c.name}}</td>
                                <td>{{c.email}}</td>
                                <td>{{c.phone}}</td>
                                <td>{{c.title}}</td>
                                <td *ngIf="c.isDeleted == false">
                                    <img class="ant-image-img" src="./assets/admin/img/success-status.png" style="height: 35px;">
                                </td>
                                <td *ngIf="c.isDeleted == true">
                                    <img class="ant-image-img" src="./assets/admin/img/false-status.png" style="height: 22px;">
                                </td>
                                <td class="action">
                                    <div class="action-contact">
                                        <a (click)="getContactById(c.id)" class="btn btn-warning btn-edit"><span
                                            class="glyphicon glyphicon-edit"></span>
                                        Update</a>
                                    <a (click)="deleteById(c.id)"
                                        onclick="return confirm('Are you sure you want to delete?')"
                                        class="btn btn-danger btn-delete"><span class="glyphicon glyphicon-trash"></span>
                                        Delete</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls class="pagination" (pageChange)="c = $event"></pagination-controls>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>