<div id="page-content">

    <section class="breadcrumnb">
        <div class="container">
            <ol itemscope="" itemtype="http://schema.org/BreadcrumbList" class="clearfix">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <meta itemprop="position" content="1">
                    <a href="index.html" itemprop="item"><span itemprop="name">Home</span></a>
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <meta itemprop="position" content="2">
                    <span itemprop="name">Contact Us</span>
                </li>
            </ol>
        </div>
    </section>

    <section class="page_header">
        <div class="container">
            <h1 class="page_heading">Contact Form</h1>

        </div>
    </section>
    <section id="contactus" class="contactus-page-content page-content">
        <div class="container">
            <div class="row">
                <div class="content-area col-lg-12 clearfix">
                    <div class="store_data">
                        <h4 class="store-name"><i class="icon-map-pin"></i> Branch</h4>
                        <div class="store-address">
                            <i class="icon-building-filled"></i>
                            <div class="store-address1 item">1: 6691 Nob Hill Rd, </div>
                            <div class="store-city item">Tamarac, FL. 33321</div>
                            <div class="store-country item">US</div>
                        </div>
                        <div class="store-location item">
                            <a href="http://maps.google.com/maps?oi=map&amp;q=1:%206691%20Nob%20Hill%20Rd+Tamarac+FL+33321"
                                target="_self" class="icon-btn icon-btn-geopin">
                                <i class="icon-location"></i>
                                <div>Get Directions</div>
                            </a>
                        </div>
                        <div class="store-phone item">
                            <a href="tel:(954) 582-5080">
                                <i class="icon-phone"></i>
                                <div>(954) 582-5080</div>
                            </a>
                        </div>
                        <div class="store-email item">
                            <a href="cdn-cgi/l/email-protection.html#08606d646467483b6c6b697a7c266b6765">
                                <i class="icon-mail-alt"></i>
                                <div><span class="__cf_email__"
                                        data-cfemail="dcb4b9b0b0b39cefb8bfbdaea8f2bfb3b1">[email&#160;protected]</span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="form_data">
                        <p>Fill out the form below and a representative will contact you by e-mail or phone within
                            24 business hours.</p>
                        <div class="clearfix"></div>
                        <div class="row">
                            <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
                                <input type="hidden" name="action" id="action" value="" />
                                <input type="hidden" name="custid" value="0" />
                                <input type="hidden" name="orderid" value="" />
                                <input type="hidden" name="productid" value="[productid]" />
                                <div class="crmField col-lg-6">
                                    <label for="customer">Name <span class="error-img required">*</span></label>
                                    <input required type="text" [(ngModel)]="contact.name" name="name" #name="ngModel" placeholder="Name" size="40"
                                        maxlength="50" tabindex="1" class="form-control txtBoxStyle" />
                                    <div class="clearfix"></div>
                                </div>
                                <div class="crmField col-lg-6">
                                    <label for="custemail">Email <span class="error-img required">*</span></label>
                                    <input required type="email" [(ngModel)]="contact.email" name="email" #email="ngModel" placeholder="Email" size="40"
                                        maxlength="50" tabindex="2" class="form-control txtBoxStyle"
                                        data-parsley-trigger="change" />
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="crmField col-lg-6">
                                    <label for="phone">Phone <span class="error-img required">*</span></label>
                                    <input required type="text" [(ngModel)]="contact.phone" name="phone" #phone="ngModel" placeholder="Phone" size="40"
                                        maxlength="50" tabindex="3" class="form-control txtBoxStyle" />
                                    <div class="clearfix"></div>
                                </div>
                                <!-- <div class="crmField col-lg-12">
                                    <label for="subject">Subject <span class="error-img required">*</span></label>
                                    <input required [(ngModel)]="contact.title" name="title" #title="ngModel" type="text" placeholder="Subject *"
                                        size="40" maxlength="150" tabindex="5" class="form-control txtBoxStyle" />
                                    <div class="clearfix"></div>
                                </div> -->
                                <div class="crmField col-lg-12">
                                    <label for="reply">Subject <span class="error-img required">*</span></label>
                                    <textarea required [(ngModel)]="contact.title" name="title" #title="ngModel" tabindex="6" class="form-control txtBoxStyle"
                                        data-parsley-trigger="keyup" placeholder="Message"></textarea>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="crmField col-lg-12">
                                    <button class="btn btn-default btn-inverse"
                                        >Submit Request</button>
                                </div>
                            </form>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="page_footer">
        <div class="container">

        </div>
    </section>
</div>