.sidebar >ul >li >a{
    color: #495057;
}

.sidebar >ul >li.active >a{
    color: #3f6ad8;
    background-color: #e0f3ff;
    font-weight: bold;
}

.sidebar >ul >li:hover >a{
    color: #3f6ad8;
    background-color: #e0f3ff;
}
