<div id="page-content">
    <section id="loginAccount" class="loginAccount-page-content page-content">


        <section class="breadcrumnb" aria-label="breadcrumb" role="main">
            <div class="container">
                <ol itemscope="" itemtype="http://schema.org/BreadcrumbList" class="clearfix" role="navigation" aria-label="breadcrumbs">
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <meta itemprop="position" content="1">
                        <a href="index.html" itemprop="item"><span itemprop="name">Home</span></a>
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <meta itemprop="position" content="2">
                        <span itemprop="name">My Account</span>
                    </li>
                </ol>
            </div>
        </section>

        <section class="page_header" aria-label="page title" role="main">
            <div class="container">
                <h1 class="page_heading">My Account</h1>

            </div>
        </section>


        <div class="container">
            <div class="row">
                <div class="content-area col-lg-12">
                    <div class="beta-col col-lg-6 col-md-6">
                        <div class="header">
                            <h2 class="headerTitle">New Customers</h2>
                        </div>
                        <div class="createNewAccount pad10">
                            <div class="height">
                                <div class="loginField">
                                    <div>If you don't have an account, please proceed by clicking the following button to continue first-time registration.
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="submit-button">
                                <a [routerLink]="['/signup']" class="btn btn-primary"><i class="icon-pencil" role="presentation"
                                        aria-label="pencil icon"></i> Create Account</a>
                            </div>
                        </div>
                    </div>
                    <div class="alpha-col col-lg-6 col-md-6">
                        <div class="header">
                            <h2 class="headerTitle">Returning Customers</h2>
                        </div>
                        <div *ngIf="isLoggedIn; else loggedOut">
                            <button class="btn btn-primary" (click)="logout()">Logout</button> Logged in as: <b style="color: red;"> {{name}} </b>
                        </div>
                        <ng-template #loggedOut>
                            <div class="myaccountLogin pad10">
                                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel" required />
                                        <div *ngIf="f.submitted && username.invalid">
                                            <div *ngIf="username.errors?.required" style="color: red;">Username is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel" required minlength="6" />
                                        <div *ngIf="f.submitted && password.invalid">
                                            <div *ngIf="password.errors?.required" style="color: red;">Password is required
                                            </div>
                                            <div *ngIf="password.errors?.minlength" style="color: red;">Password must be at least 6 characters</div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <button class="btn btn-primary">Login</button>
                                        <hr>
                                        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                                            Login failed: {{errorMessage}}
                                        </div>
                                    </div>
                                </form>
                                <div class="loginField">
                                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#resetPW"><i class="icon-cw" role="presentation"
                                            aria-label="reset password"></i>Reset my password</button>
                                </div>
                            </div>
                        </ng-template>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </section>


    <div class="modal fade" id="resetPW" tabindex="-1" role="dialog" aria-labelledby="resetPWLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="resetPWLabel">Reset My Password</h4>
                </div>
                <div class="modal-body">
                    <form id="forgotPass" name="forgotPass" action="https://branch-preview-com.3dcartstores.com/login.asp?action=forgotpass&amp;ordertracking=1" method="post" class="bt-flabels js-flabels">
                        <div class="loginField bt-flabels__wrapper">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="Email4Password" value="" placeholder="Email" size="30" tabindex="1" class="form-control txtBoxStyle" aria-label="Email4Password" required />
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" onclick="resetLoginPass();" class="btn btn-primary btn-lg"><i class="icon-cw"
                            role="presentation" aria-label="reset password"></i>Reset my
                        password</button>
                </div>
            </div>
        </div>
    </div>

</div>
