<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Product</h1>
    </div>
</div>
<!--/.row-->

<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">

        <div class="panel panel-primary">
            <div class="panel-heading">Product</div>
            <div class="panel-body">
                <form (ngSubmit)="f.valid && onSubmit()" enctype="multipart/form-data" #f="ngForm">
                    <div class="row" style="margin-bottom:40px">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label>Product Name</label>
                                <input type="text" name="name" class="form-control" [(ngModel)]="product.name" #name="ngModel" required>
                                <div *ngIf="f.submitted && name.invalid">
                                    <div *ngIf="name.errors?.required" style="color: red;">Product Name</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Provider</label>
                                <input type="text" name="provider" class="form-control" [(ngModel)]="product.provider">
                            </div>

                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" name="title" class="form-control"
                                    [(ngModel)]="product.title">
                            </div>
                            <div class="form-group">
                                <label>Guarantee</label>
                                <input type="text" name="guarantee" class="form-control"
                                    [(ngModel)]="product.guarantee">
                            </div>
                            <div class="form-group">
                                <label>Part</label>
                                <input type="text" name="part" class="form-control" [(ngModel)]="product.part">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea name="description" [(ngModel)]="product.description"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Image 1</label>
                                <input required (change)="onChangeImage1($event)" [required]="true" id="img1"
                                    type="file" class="hidden" onchange="changeImg1(this)" >
                                <img id="avatar1" onclick="getElementById('img1').click()" class="thumbnail"
                                    width="100px" [src]="image1">
                            </div>
                            <div class="form-group">
                                <label>Image 2</label>
                                <input (change)="onChangeImage2($event)" [required]="true" id="img2" type="file"
                                    class="hidden" onchange="changeImg2(this)">
                                <img id="avatar2" onclick="getElementById('img2').click()" class="thumbnail"
                                    width="100px" [src]="image2">
                            </div>
                            <div class="form-group">
                                <label>Image 3</label>
                                <input (change)="onChangeImage3($event)" [required]="true" id="img3" type="file"
                                    class="hidden" onchange="changeImg3(this)">
                                <img id="avatar3" onclick="getElementById('img3').click()" class="thumbnail"
                                    width="100px" [src]="image3">
                            </div>
                            <div class="form-group">
                                <label>Category</label>
                                <select required class="form-control" name="cateId" [(ngModel)]="product.cateId" #cateId="ngModel">
                                    <option [value]="cate.id" *ngFor="let cate of categories">{{cate.name}}</option>
                                </select>
                                <div *ngIf="f.submitted && cateId.invalid">
                                    <div *ngIf="cateId.errors?.required" style="color: red;">Please select Category!</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Status</label><br>
                                <label for="status">true: </label>
                                <input type="radio" [(ngModel)]="product.isDeleted" id="status" name="isDeleted"
                                    [value]="true">
                                &nbsp;
                                <label for="status1">false: </label>
                                <input type="radio" [(ngModel)]="product.isDeleted" checked id="status1"
                                    name="isDeleted" [value]="false">
                            </div>
                            <input type="submit" name="submit" value="Submit" class="btn btn-primary">
                            <a routerLink="../../list-product" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--/.row-->