<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Product</h1>
    </div>
</div><!--/.row-->

<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        
        <div class="panel panel-primary">
            <div class="panel-heading">Product Size List</div>
            <div class="panel-body">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText">
                </div>
                <div class="bootstrap-table">
                    <div class="table-responsive">
                        <a routerLink="../create-product-size" class="btn btn-primary">Add Product Size</a>&nbsp;
                        <a (click)="findByStatus()" class="btn btn-secondary"><i class="fa fa-trash" aria-hidden="true"></i> Find By Status</a> 
                        <table class="table table-bordered" style="margin-top:20px;">				
                            <thead>
                                <tr class="bg-primary">
                                    <th>Name</th>
                                    <th>Cate Name</th>
                                    <th>Price</th>
                                    <th>Discount</th>
                                    <th>Count</th>
                                    <th>Part</th>
                                    <th>Size</th>
                                    <th>Image 1</th>
                                    <th>Image 2</th>
                                    <th>Image 3</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of productSize | filter:searchText | paginate: {itemsPerPage: 4,currentPage: p}">
                                    <td>{{p.name}}</td>
                                    <td>{{p.cateName}}</td>
                                    <td>{{p.price}}</td>
                                    <td>{{p.discount}}</td>
                                    <td>{{p.count}}</td>
                                    <td>{{p.part}}</td>
                                    <td>{{p.sizeName}}</td>
                                    <td >
                                        <img *ngIf="p.image_1" width="70px" src="http://localhost:8081/images/{{p.image_1}}" class="thumbnail">
                                    </td>
                                    <td>
                                        <img *ngIf="p.image_2" width="70px" src="http://localhost:8081/images/{{p.image_2}}" class="thumbnail">
                                    </td>
                                    <td>
                                        <img *ngIf="p.image_3" width="70px" src="http://localhost:8081/images/{{p.image_3}}" class="thumbnail">
                                    </td>
                                    <td *ngIf="p.isDeleted == false">
                                        <img class="ant-image-img" src="./assets/admin/img/success-status.png" style="height: 35px;">
                                    </td>
                                    <td *ngIf="p.isDeleted == true">
                                        <img class="ant-image-img" src="./assets/admin/img/false-status.png" style="height: 22px;">
                                    </td>
                                    <td class="action">
                                        <div class="action-product-size">
                                            <a class="btn btn-warning btn-update" (click)="goToUpdate(p.id)"><span
                                                class="glyphicon glyphicon-edit"></span> Update</a>
                                            <a (click)="deleteById(p.id)" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger">
                                                <span class="glyphicon glyphicon-trash"></span> Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>				
                        <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>			
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div><!--/.row-->