<div id="page-content">

    <section class="breadcrumnb" aria-label="breadcrumb" role="main">
        <div class="container">
            <ol itemscope="" itemtype="http://schema.org/BreadcrumbList" class="clearfix" role="navigation" aria-label="breadcrumbs">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <meta itemprop="position" content="1"><a href="index.html" itemprop="item"><span
                            itemprop="name">Home</span></a>
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <meta itemprop="position" content="2"><a href="blog.html" itemprop="name"><span
                            itemprop="name">Blog Home</span></a>
                </li>
            </ol>
        </div>
    </section>

    <section class="page_header" aria-label="page title" role="main">
        <div class="container">

            <h1 class="page_heading">{{objBlog.title}}</h1>


        </div>
    </section>
    <section id="blog" class="page-content">
        <div class="container">
            <div class="content-area clearfix">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-9 col-sm-9">

                                <div class="blogPost singleblogpost">

                                    <div class="post-image">
                                        <div class="post-image-container">
                                            <a href="#" title="{{objBlog.title}}">
                                                <img *ngIf="!objBlog.image" src="assets/assets/images/bloag-image.jpg" alt="{{objBlog.title}}" class="img-responsive" />
                                                <img *ngIf="objBlog.image" src="http://localhost:8081/images/{{objBlog.image}}" alt="{{objBlog.title}}" class="img-responsive" />
                                            </a>
                                        </div>
                                    </div>

                                    <div class="post-content">
                                        <div class="post-info">
                                            Posted by Lisa Brookfield on {{objBlog.create_at | date}} to
                                            <!-- <a href="News_bc_1.html">News</a> -->
                                        </div>
                                        <div id="postContent" class="post" data-articleID="1">
                                            <div class="content-section">
                                                <div class="content tc-pagebuilder">
                                                    {{objBlog.description}}
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div id="social-bookmarking" class="social-bookmarking">


                                        <script type="text/javascript" src="js/addthis_widget.js#pubid=xa-5350364935e4f191"></script>
                                        <script type="text/javascript">
                                            addthis.layers({
                                                'theme': 'transparent',
                                                'share': {
                                                    'position': 'left',
                                                    'numPreferredServices': 5
                                                }
                                            });
                                        </script>

                                    </div>




                                </div>



                                <div class="paging" style="float:left;width:76%">

                                </div>
                            </div>
                            <div class="col-sm-3">





                                <div class="sidebar-widget">
                                    <h4 class="widget-header">Recent Posts</h4>
                                    <div class="widget-body">
                                        <ul class="sidebarUL">

                                            <li *ngFor="let b of lstBlog">

                                                <a routerLink="/blog/{{b.id}}">{{b.title}}</a></li>

                                        </ul>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>

            </div>
        </div>
    </section>
    <input type="hidden" id="submitFormType" value="0" />
</div>