<div id="page-content">
    <section id="category" class="category-page-content page-content">
        <div class="container">
            <div class="row">

                <aside id="leftBar" class="col-md-3 hidden-sm hidden-xs">

                    <div id="modNewReleases" class="sidebar-widget">
                        <h4 class="widget-header">New Releases</h4>
                        <div class="widget-body" *ngFor="let p of productNewReleases">
                            <div class="new-release-item product-item" >
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="img"><a href="Ficus-Altissima_p_7.html">
                                            <img *ngIf="p.image_1" src="http://localhost:8081/images/{{p.image_1}}" class="img-responsive" /></a>
                                        </div>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="info">
                                            <div class="name"><a href="Ficus-Altissima_p_7.html" class="link">{{p.name}}</a></div>

                                            <div class="price">
                                                <span class="regular-price">{{p.cateName}}</span>
                                            </div>

                                            <div class="reviews">
                                                <span class="reviews-stars rating-5" role="presentation"></span>
                                                <span class="reviews-count">(1)</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>

                <div class="col-md-9">
                    <section class="breadcrumnb" aria-label="itemsgrid" role="main">
                        <ol class="clearfix">
                            <li>
                                <span>Home</span>
                            </li>
                            <li>
                                <span>{{category.name}}</span>
                            </li>
                        </ol>
                    </section>



                    <section class="category-products clearfix">
                        <form action="https://branch-preview-com.3dcartstores.com/view_category.asp?cat=1" method="post"
                            name="frmsortby" id="frmsortby">
                            <div class="row category-toolbar">
                                <div class="col-sm-6 clearfix">

                                    <div class="view-as-btn">
                                        <a href="javascript:void(0);" id="grid-view" title="Grid View"
                                            class="current-view" aria-label="Grid view button" role="button">
                                            <div>
                                                <div class="icon-bar"></div>
                                                <div class="icon-bar"></div>
                                                <div class="icon-bar"></div>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0);" id="list-view" title="List View" class=""
                                            aria-label="List view button" role="button">
                                            <div>
                                                <div class="icon-bar"></div>
                                                <div class="icon-bar"></div>
                                                <div class="icon-bar"></div>
                                            </div>
                                        </a>
                                    </div>

                                    <h2 class="titles">Products [{{productLenght}}]</h2>
                                </div>
                                <div class="col-sm-6">
                                    <div class="sort-by">
                                        <span> Sort by:</span>
                                        <select id="sortby" name="sortby">
                                            <option value="0"> Use Default Sorting</option>
                                            <option value="0" selected>Order By</option>
                                            <option value="1">Price: Low to High</option>
                                            <option value="2">Price: High to Low</option>
                                            <option value="3">Name</option>
                                            <option value="4">Newest</option>
                                            <option value="13">Avg Review</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="category-actions clearfix">
                                <div class="paging">

                                </div>
                            </div>


                        </form>

                        <div class="product-items product-items-3">
                            <div *ngFor="let p of products | paginate: {itemsPerPage: 6,currentPage: p}"
                                class="product-item" data-catalogid="1" data-ajaxcart="1"
                                data-addcart-callback="addcart_callback" data-categoryid="1">
                                <div class="img">
                                    <a href="Mezzanine-Houseplant_p_1.html">
                                        <img *ngIf="p.image_1" src="http://localhost:8081/images/{{p.image_1}}"
                                            alt="Mezzanine Houseplant" class="img-responsive"
                                            style="height: 270px; width: 262;" />
                                    </a>
                                    <button (click)="findProductSizeByProductId(p.id)" class="quickview"
                                        data-toggle="modal" data-target=".bd-example-modal-lg">QuickView</button>
                                </div>
                                <div class="product-content">
                                    <div class="name">
                                        <a href="details/{{p.id}}">{{p.name}}</a>
                                    </div>
                                    <div class="price">
                                        <span class="regular-price">{{p.title}}</span>
                                    </div>
                                    <div class="action">
                                        <a href="Mezzanine-Houseplant_p_1.html?quick=1&amp;item_id=1&amp;cat_id=1"
                                            class="add-to-cart btn btn-default">
                                            <span class="buyitlink-text"> Select Options</span>
                                            <span class="ajaxcart-loader icon-spin2 animate-spin"></span>
                                            <span class="ajaxcart-added icon-ok"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom_breadcrumb">
                            <div class="paging">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>

</div>


<!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{productSize.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <img *ngIf="productSize.image_1"
                                    src="http://localhost:8081/images/{{productSize.image_1}}"
                                    style="height: 270px; width: 262;" />
                            </div>
                            <div class="col-md-5">
                                <h3 itemprop="name" class="name">{{productSize.name}}</h3>
                                <h4 itemprop="name" class="name">Your Price:&nbsp;${{productSize.discount}}</h4>
                                <div style="text-decoration: line-through;">Retail Price:&nbsp;${{productSize.price}}
                                </div>
                                <h4><b>Provider:</b>&nbsp;{{productSize.provider}}</h4><br>
                                <div id="prodDetails">
                                    <div id="divOptionsBlock" class="options sub-section">
                                        <div class="header">
                                            <h4 class="page_heading ">Choose Options</h4>
                                        </div>
                                        <div class="options-inner">
                                            <div class="opt-regular">
                                                <div class="opt-label">
                                                    <label class="label">Size</label>
                                                </div>
                                                <div class="opt-field">
                                                    <label class="radio-format" *ngFor="let p of productSizes">
                                                        <label class="radio-option">
                                                            <input type="radio" id="{{p.sizeName}}" name="size"
                                                                class="customoption" value="{{p.sizeName}}"
                                                                (click)="findProductSizeBySizeName(p.sizeName)">
                                                            <span>{{p.sizeName}} </span>
                                                        </label>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix add-cart-block">
                                        <div class="qty">
                                            <input type="text" name="qty-0" value="1" class="form-control">
                                        </div>
                                        <div class="addcart">
                                            <button type="button" class="btn btn-primary"><i class="icon-basket"></i>
                                                Add to Cart</button>
                                        </div>
                                        <div class="clearfix"></div>
                                        <a class="btn btn-link qv-moredetails"><i class="icon-search"></i> More
                                            Details</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>